<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaaS Multifonctionnel</title>
    {% include '../composant/css.html' %}
    {% block css%}

    {% endblock %}

</head>
<body>
    {% include '../composant/header.html' %}

    {% block content %}

    {% endblock %}

    
    {% include '../composant/footer.html' %}

    {% include '../composant/js.html' %}
    {% block js %}

    {% endblock %}


</body>
</html>
